$link-color: #cf2d1b;

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.timeline-item {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;

    &.animated {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    font-family: Arial, sans-serif;
    text-align: justify;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #fff;
    position: relative;
    z-index: -1;

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .about-container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.573);
        max-width: 60%;
        margin-top: 100px;
        margin-left: auto;
        margin-right: 50px;

        h1 {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 10px;
            color: #e74c3c;
        }

        p {
            font-size: 1.2rem;
            text-align: justify;
            margin: 10px 0;
            line-height: 1.5;
        }
    }
}

.timeline {
    padding: 50px 0;
    position: relative;
    background: #fff;
    background-image: url('/public/images/bg-about.jpg');
    background-repeat: repeat;

    .story {
        text-align: center;
        font-family: 'Georgia', serif;
        font-size: 2rem;
        color: $link-color;
        margin-bottom: 50px;
        margin-top: 0;
        letter-spacing: 1.5px;
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }

    .timeline-item {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        position: relative;
        z-index: 0;

        .timeline-date {
            width: 100px;
            text-align: center;
            background-color: #e74c3c;
            color: white;
            padding: 10px;
            border-radius: 50%; 
            font-size: 20px;
            position: relative;
            z-index: 0;
            margin-right: 20px;
            font-family: 'Kanit';
        }

        .timeline-content {
            background: rgb(255, 255, 255);
            backdrop-filter: blur(10px);
            padding: 30px;
            border-radius: 8px;
            box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.15);
            width: calc(50% - 75px);
            position: relative;
            z-index: 1;
            transition: transform 0.2s ease, border 0.2s ease;

            h3 {
                color: #333;
            }

            p {
                color: #333;
            }

            a {
                text-decoration: none;
                color: rgb(224, 79, 79);
            }

            img {
                max-width: 100%;
                border-radius: 8px;
                margin-bottom: 10px;
                width: 100px;
            }

            .timeline-icon {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            }

            &:hover {
                transform: scale(1.05);
                border: 2px solid #e74c3c;
            }
        }

        &:nth-child(even) {
            flex-direction: row-reverse;

            .timeline-date {
                margin-left: 20px;
                margin-right: 0;
            }

            .timeline-content {
                margin-right: 20px;
                margin-left: 0;
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 100%;
            z-index: 0;
        }

        &:last-child:after {
            height: 50%;
            top: 0;
        }

        .timeline-date:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 2px;
            height: 50%;
            z-index: -1;
        }
    }
}
