.footer {
    font-size: 14px;
    color: #5A5A5A;
    background: rgba(255, 255, 255, 0.8);
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;

    a { 
        text-decoration: none;
        color: rgb(224, 79, 79);
    }
}
