$link-color: #c13313;

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.services-section {
    .background-image {
        width: 100%;
        height: 85vh;
        object-fit: cover;
    }
}

.services {
    background-image: url('/public/images/bg-about.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background-color: #f9f9f9;

    h1 {
        text-align: center;
        color: $link-color;
        margin: 30px 0;
        font-family: 'Kanit', sans-serif;
        font-size: 40px;
        font-weight: bold;
    }

    .carousel-container {
        position: relative;
        max-width: 600px;
        max-height: 500px;
        margin: auto;
        
        .carousel-control-prev, .carousel-control-next {
            position: absolute;
            top: 50%;
            width: 50px;
            height: 50px;
            background-color: $link-color;
            border: none;
            border-radius: 50%;
            //color: white;
            //cursor: pointer;
            transform: translateY(-50%);
            //display: flex;
            //justify-content: center;
            //align-items: center;
            z-index: 2;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        
            &:hover {
                background-color: #a1270f;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
            }

            &-icon {
                width: 24px;
                height: 24px;
                line-height: 1;
            }

            &.carousel-control-prev {
                left: -60px;
            }

            &.carousel-control-next {
                right: -60px;  
            }
        }
    }

    .carousel {
        position: relative;
        max-width: 600px;
        max-height: 500px;
        margin: auto;
        border: 5px solid #c13313;
        border-radius: 10px;
        overflow: hidden;
    }
    .carousel-inner {
        display: flex;
        //transition: transform 0.5s ease-in-out;
    }

    .carousel-item {
        display: none;
        width: 100%;
        height: 500px;
        text-align: center;
        justify-content: center;
        align-items: center;

        &.active {
            display: flex;
        }

        .service-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.fullpic-modal {
    display: none;  
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);  

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #ffffff;  
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover, &:focus {
            color: #c13313;  
            text-decoration: none;
        }
    }

    .fullpic-content {
        display: block;
        max-width: 80%;  
        max-height: 80vh; 
        margin: auto;  
        position: relative;  
        top: 50%;
        transform: translateY(-50%); 
    }
}